# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.json text eol=lf
*.plist text eol=lf
*.cc text eol=lf
*.h text eol=lf
*.cmake text eol=lf
*.swift text eol=lf
*.lock text eol=lf

# Binary files (will not be converted).
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
